.list {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    color: #111827;
}
.list:hover {
    background-color: #f3f4f6;
}

.list.active {
    background-color: #1d4ed8;
    color: #ffffff;
}
.list-group {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #f3f4f6;
    font-weight: 500;
    background-color: gray;
}

@media (min-width: 768px) {
    .list {
        padding: 0;
        border-width: 0;
    }
    .list:active {
        padding: 0;
        color: #1d4ed8;
        background-color: transparent;
    }
    .list-group {
        padding: 0;
        margin-top: 0;
        margin-left: 2rem;
        flex-direction: row;
        border-width: 0;
        background-color: gray;
    }
    .list-div {
        display: block;
        width: auto;
    }
    .nav-btn {
        display: none;
    }
}

.list-div {
    display: none;
    width: 100%;
}

.nav-container {
    border-color: #e5e7eb;
    background-color: #ffffff;
}

.nav-div {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}

.nav-btn {
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6b7280;
}
.nav-btn:hover {
    background-color: #f3f4f6;
}
