/* CSS Style Sheet for chamber-site-plan.html for wdd 230 vern wolfley*/

/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: rgba(3, 105, 161, 1);
    --secondary-color: rgba(21, 128, 61, 1);
    --accent1-color: rgba(186, 230, 253, 1);
    --accent2-color: rgba(187, 247, 208, 1);
    --accent3-color: rgba(127, 29, 29, 1);
    --text-color-main: #082f49;
    --text-color-secondary: #f8fafc;

    /* change the values below to your chosen font(s) */
    --heading-font: "Raleway", sans-serif;
    --paragraph-font: "Merriweather", serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color); /* headlines on a white background */
    --headline-color-on-color: var(--text-color-secondary); /* headlines on a colored background */
    --paragraph-color-on-white: var(--text-color-main); /* paragraph text on a white background */
    --paragraph-color-on-color: var(--text-color-main); /* paragraph text on a colored background */
    --paragraph-background-color: var(--accent1-color); /* paragraph background color */
    --nav-link-color: var(--text-color-secondary);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--text-color-main);
    --nav-hover-background-color: var(--accent2-color);
}

/*  Styles for site */
html,
body {
    font-size: 18px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

img {
    display: block;
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    color: var(--headline-color-on-white);
}

h2 {
    text-align: center;
}
hr {
    height: 3px;
    margin: 35px 0;
    background: var(--secondary-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--primary-color);
}
header > h1,
header > h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: .25em 1.25em;
    margin: .25em 1em;
}

ul {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
}

main {
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch ;
}
.navigation h3 {
    text-align: center;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
    padding: 10px;
    text-align: center;
}
.colors td {
    padding: 10px;
    text-align: center;
    /* width: 25%;
  height: 3em; */
}

.primary {
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
}
.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
}
.accent1 {
    background-color: var(--accent1-color);
    color: var(--text-color-main);
}
.accent2 {
    background-color: var(--accent2-color);
    color: var(--text-color-main);
}
.accent3 {
    background-color: var(--accent3-color);
    color: var(--text-color-secondary);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}
nav {
    list-style-type: none;
    display: flex;
}
nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
}
nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sitemap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 10%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas:
        ". . . home home . . ."
        ". . . top . . . ."
        ". left lspace middle rspace rspace right ."
        "page2 page2 . page3 page3 . page4 page4";
}
.sitemap > div {
    text-align: center;
}
.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
}
.sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
}
.sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
}
.sm-page4 {
    grid-area: page4;
    background-color: #ccc;
    line-height: 3em;
}

.top {
    grid-area: top;
    border-right: 1px solid;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}

.middle {
    grid-area: middle;
    border-top: 1px solid;
    border-right: 1px solid;
}
.lspace {
    grid-area: lspace;
    border-top: 1px solid;
}
.rspace {
    grid-area: rspace;
    border-top: 1px solid;
}
