/* CSS Style Sheet for design-principles.html */

/* Import Google Font - Inter & Poppins */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #364958;
    --secondary-color: #3b6064;
    --accent1-color: #ffffff;
    --accent2-color: #55828b;
    --accent3-color: #87bba2;
    --accent4-color: #c9e4ca;

    /* change the values below to your chosen font(s) */
    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Inter", sans-serif;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: var(--paragraph-font);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-style: normal;
}

/* Mobile or Base Views ********************************* */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent4-color);
    padding: 25px 50px;
}
header h2{
    margin: 0.35em 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px 15px;
    padding: 50px;
}

/* Section Card Area */
.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-gap: 2rem;
}

/* Section Card */
.card {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--primary-color);
    border-radius: 10px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    border-radius: 10px 10px 0 0;
    justify-content: center;
}

.card-content {
    padding: 20px;
}

.la-card {
    list-style-type: none;
    padding: 0;
}

.la-card li {
    padding: 5px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 25px 50px;
    margin-top: auto;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-background-color);
}

footer p {
    font-size: 0.65em;
    margin: 5px;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    width: 30px;
    height: 30px;
}

#azFlag {
    width: auto;
    height: 30px;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Tablet Views ********************************* */
@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    main section:nth-child(3) {
        grid-column: span 2;
    }
}

/* Desktop Views ********************************* */
@media screen and (min-width: 992px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    main section:nth-child(3) {
        grid-column: span 1;
    }
}
