/* CSS Style Sheet for index.html the Chamber of Commerce site for wdd 230 vern wolfley*/

/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: rgb(3, 105, 161);
    --secondary-color: rgba(21, 128, 61, 1);
    --accent1-color: rgba(186, 230, 253, 1);
    --accent2-color: rgba(187, 247, 208, 1);
    --accent3-color: rgb(127, 29, 29);
    --text-color-main: #082f49;
    --text-color-secondary: #f8fafc;

    /* change the values below to your chosen font(s) */
    --heading-font: "Raleway", sans-serif;
    --paragraph-font: "Merriweather", serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color); /* headlines on a white background */
    --headline-color-on-color: var(--text-color-secondary); /* headlines on a colored background */
    --paragraph-color-on-white: var(--text-color-main); /* paragraph text on a white background */
    --paragraph-color-on-color: var(--text-color-main); /* paragraph text on a colored background */
    --paragraph-background-color: var(--accent1-color); /* paragraph background color */
    --nav-link-color: var(--text-color-secondary);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--text-color-main);
    --nav-hover-background-color: var(--accent2-color);
}

/*  Styles for site */
html,
body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    color: var(--headline-color-on-white);
}
/* Header and Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--nav-background-color);
    box-shadow: 0 1px 8px #ddd;
}

.nav-header {
    display: flex;
    align-items: center;
}
.nav-header img {
    width: 60px;
    height: auto;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
    color: var(--nav-link-color);
}

.nav-links {
    display: flex;
    order: 3;
}
.nav-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
}
#nav-toggle {
    display: none;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: var(--nav-link-color);
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: var(--nav-hover-background-color);
}

/* *** Main Section ***************************** */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url('../images/west-valley-lp.jpeg'); 
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.hero-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.hero-content h2 {
    font-size: 3em;
    font-weight: 800;
    color: var(--text-color-secondary);
    margin: 20px;
}
.hero-content p {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--text-color-secondary);
    margin-bottom: 20px;
}


.btn {
    padding: 10px 20px;
    background-color: var(--accent3-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(var(--accent3-color), 0.5);
}

.spotlights {
    padding: 50px 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 50px;
}

.events {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.event {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.weather {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-self: center;
    row-gap: 20px;
}
.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.weather-icon img {
    width: 70px;
    height: auto;
}

/* *** Footer ************************************ */

footer {
    background-color: var(--accent1-color);
    padding: 30px 30px 20px 30px;
    border-top: 1px solid #e5e5e5;
}

.footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
}
.footer-title {
    grid-column: 1 / span 9;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-title h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1.3em;
}

.footer-title img {
    width: 60px;
    height: auto;
}

.footer h3 {
    margin-top: 1em;
    font-size: 1.25em;
    font-weight: 500;
}

.footer-addr {
    grid-column: 1 / span 5;
    grid-row: 2;
    margin-bottom: 2em;
}

footer .nav-title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: var(--text-color-main);
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer-nav {
    grid-column: 8 / span 1;
    grid-row: 2;
    margin-bottom: 2em;
}

.footer-nav ul {
    flex: 1 50%;
    margin-right: 1.25em;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    
}
.footer-nav ul a {
    color: var(--text-color-main);
}

.footer-nav li {
    line-height: 2em;
}
.footer-nav a {
    text-decoration: none;
}
.footer-nav a:hover {
    color: var(--secondary-color);
}


.legal {
    grid-row: 3;
    grid-column: 1 / span 9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.7em;
    color: var(--text-color-main);
}

/* MObile CSS ******************************** */

/* Add this CSS for mobile styles */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--nav-background-color);
        z-index: 1000;
    }

    .nav-links ul {
        display: block;
        text-align: center;
    }

    .nav-links ul li {
        display: block;
        padding: 10px 0;
    }

    .nav-links ul li a {
        display: block;
        color: var(--nav-link-color);
        padding: 10px 0;
    }

    .nav-toggle:checked + .nav-links {
        display: block;
    }

    .nav-btn {
        display: block;
        cursor: pointer;
    }

    .nav-btn span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: var(--nav-link-color);
        margin: 6px 0;
    }
}
